@import url('../../../index.css');

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
        filter:blur(5px)
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
        filter:blur(5px)
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.projectDiv {
    display: flex;
    flex-direction: row;
    margin: 3rem;
    width: 100%;
    height: 400px;
}


.infoDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.imageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    background-color: aqua;
}


b {
    color:var(--primary-dark);
}

.TILT {
    font-style: italic;
} 

div > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: var(--primary-blue);
    color:white;
    border-radius:100px;
    padding:5px;
    margin-top: 2rem;
}

div > a:hover {
    border:1px solid var(--primary-blue);
    background-color: white;
    color:var(--primary-blue);
}

img {
    width:100%;
    height:90%;
    object-fit:contain;
}




/* image transition stuff */
.projectDiv.show > .imageDiv {
    transform: translateX(0%);
    opacity: 1;
    transition: all 1s;
}

.projectDiv.hidden > .imageDiv {
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s;
}

/* info transition stuff */
.projectDiv.show > .infoDiv {
    transform: translateX(0%);
    opacity: 1;
    transition: all 1s;
}

.projectDiv.hidden > .infoDiv {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
}




/* carousel */


/* .projectDiv {
    margin: 20px 0;
}

.infoDiv {
    margin-bottom: 20px;
} */

/* .imageDiv {
    width: 100%;
    max-width: 600px;
    margin: auto;
} */

.slide {
    height: 400px;
    width: auto;
}
