@import url('../../../index.css');


.bioContainer {
    margin:2rem;
    display: flex;
    flex-direction: row;
    width:auto;
}

.bioContainer > img {
    width: 60%;
}

.bioDiv {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.languageDiv {
    display: flex;
    flex-direction: column;
    width:auto;
}

.languageDiv > h2 {
    padding: 5px;
    margin-bottom: 1rem;
}