.CP .contactContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.CP .contactContainer div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.CP .infoContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
}

.CP .infoContainer p {
    padding:1rem;
    background-color: var(--primary-light);
    border-radius: 10px;
}

.CP h1 {
    color: black;
    font-weight: 400;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--primary-light);
    border-radius: 100px;
    font-size: xx-large;
}

.CP a {
    color: black;
}

.CP a:hover {
    color: var(--primary-blue);
    text-decoration: underline;
}

.CP h1:hover {
    background-color: white;
}
